$color-white = #fff
$color-bgc = rgba(7,17,27,1)
$color-bgc-s = rgba(7,17,27,.8)
$color-bgc-ss = rgba(7,17,27,.5)
$color-bgc-sss = rgba(7,17,27,.2)
$color-bgc-ssss = #f3f5f7

$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

$color-font = #666666
$color-light-grey = #999
$color-dark-grey = #333